body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-pass {
  background: rgba(167, 231, 152, 0.249);
}

.main {
  background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(95,200,255,1) 0%, rgba(241,139,139,0.4345686028317577) 100%);
}
